extraits.xml
extraits/
!/extraits/README.md
sources/
!/sources/README.md
downloads/
!/downloads/README.md
vendor
*.mp4
*.avi
*webm
journal.log
youtube-dl
ffmpeg/
DocumentRoot/src/web/database/credentials.php