extraits.xml
DocumentRoot/extraits/*
!DocumentRoot/extraits/README.md
!/DocumentRoot/extraits/index.php
DocumentRoot/sources/*
!/DocumentRoot/sources/README.md
!/DocumentRoot/sources/index.php
DocumentRoot/downloads/*
!/DocumentRoot/downloads/README.md
!/DocumentRoot/downloads/index.php
DocumentRoot/ffmpeg/*
!/DocumentRoot/ffmpeg/index.php
!/DocumentRoot/ffmpeg/README.md
/DocumentRoot/youtube-dl/youtube-dl
!/DocumentRoot/ffmpeg/README.md
!/DocumentRoot/ffmpeg/index.php
vendor
*.mp4
*.avi
*webm
journal.log
DocumentRoot/.env
DocumentRoot/web/.env
DocumentRoot/debug.log
DocumentRoot/archives.access.log
DocumentRoot/archives.error.log
postgres-data/
.vscode
~
Capfile
config
