extraits.xml
DocumentRoot/extraits/
!/DocumentRoot/extraits/README.md
!/DocumentRoot/extraits/index.php
DocumentRoot/sources/
!/DocumentRoot/sources/README.md
!/DocumentRoot/sources/index.php
downloads/
!/downloads/README.md
vendor
*.mp4
*.avi
*webm
journal.log
youtube-dl
ffmpeg/
DocumentRoot/.env
DocumentRoot/web/.env
DocumentRoot/web/.env_db
DocumentRoot/debug.log
postgres-data/
