body {
	overflow-x: hidden;
	word-break: break-word;
	overflow-wrap: break-word;
	box-sizing: border-box;
}

fieldset {
	padding: 20px;
	margin: 5px;
}

textarea {
	resize: none;
}

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}

select {
	font-size: 24px;
	padding: 5px;
}

.label-input {
	display: flex;
	gap: 10px;
	margin: 5px;
}

button {
	border-radius: 1px;
}

.btn-edition {
	margin: 5px 0;
	padding: 5px;
	font-size: 24px;
}

#btn_clip_start,
#btn_clip_end {
	margin: 1px
}

#btn_clip_start {
	margin-left: 30px;
}

#youtube-player{
	min-width: 1300px;
	min-height: 600px;
}

#clip-duration {
	font-weight: bold;
	display: inline-block;
	font-family: 'Courier New', Courier, monospace;
	margin: 5px;
	width: 250px;
	text-align: center;
	font-size: 26px;
	padding: 2px 5px;
	border: 2px solid black;
}


#current-time {
	font-family: 'Courier New', Courier, monospace;
	font-size: 22px;
	background-color: black;
	padding:15px;
	color:white;
	display: inline-block;
	margin:5px;
}

#side-player{
	margin: 10px;
}

#url{
	min-width: 600px;
}

#hal{
	font-family: 'Courier New', Courier, monospace;
	padding:15px;
	color:black;
}

#clip-duration.error {
	color: red;
	font-size: 28px;
}

#clip-duration.valid {
	color: green;
}

#edition-actions {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

#edition-data {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	align-content: flex-start;
	gap: 10px;
}

#fieldset-controls {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.btn-control {
	height: 70px;
	font-size: 1em;
	padding: 10px;
}

span.shortcut {
	display: block;
}

.btn-control .shortcut {
	font-size: .8rem;
	font-family: 'Courier New', Courier, monospace;
	font-style: italic;
	text-align: left;

}

#btn-submit-clip {
	font-size: 1.5rem;
	justify-content: center;
	width: auto;
	padding: 12px;
}

#btn_clip_end{
	background-color: coral;
}

#btn_clip_end:hover{
	background-color: #ffa600;
}

#btn_clip_start{
	background-color: chartreuse;
}
#btn_clip_start:hover{
	background-color: #abf76d;
}

.btn-clip{
	width: 70px;
	border-radius: 12px;
}

.site-title {
	font-size: 50px;
	letter-spacing: -2px;
}

.fil-arianne {
	margin: 20px 0;
}

li {
	margin: 2px;
}

summary .clip-item-header {
	color: blue;
	text-decoration: none;
	cursor: pointer;
}

#slider-range{
	margin:15px;
}

button {
	cursor: pointer;
}

#editor-navigation {
	display: flex;
	flex-direction: column;
	justify-content: start;
}

.first-row {
	display: flex;
	justify-content: flex-start;
	gap: 3px;
	margin: 10px;
}

nav.footer-links {
	margin-top: 50px;
}

nav.footer-links ul {
	display: flex;
	justify-content: center;
	list-style: none;
	flex-wrap: wrap;
}

nav.footer-links ul li {
	margin: 20px;
}


a:link,
a:visited {
	color: blue;
}

a:hover {
	color: #e700b3;
}

#editor{
	display: flex;
}

#list-clips-on-current-source{
	list-style: none;
}

.ui-slider-handle.ui-corner-all.ui-state-default.handle-start{
	background-color: chartreuse;
}

.ui-slider-handle.ui-corner-all.ui-state-default.handle-end{
	background-color: coral;
}

.ui-slider-handle.ui-corner-all.ui-state-default.handle-current-time{
	background-color: black;
}