body {
	overflow-x: hidden;
	word-break: break-word;
	overflow-wrap: break-word;
	box-sizing: border-box;
}

fieldset {
	padding: 20px;
	margin: 5px;
}

textarea {
	resize: none;
}

#video-source{
	min-width: 1120px;
}

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}

select {
	font-size: 24px;
	padding: 5px;
}

.label-input {
	display: flex;
	gap: 10px;
	margin:5px;
}

.label-input label {
	padding: 20px;
}

.label-input input {
	padding: 20px;
}

button{
	border-radius: 1px;
}
.btn-edition{
	margin: 5px 0;
	font-size: 24px;
}


#btn_clip_start,
#btn_clip_end {
	margin: 1px
}

#btn_clip_start{
	margin-left: 30px;
}

#fieldset-video-clip {
	height: 430px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#timecode_start,
#timecode_end {
	font-size: 32px;
}


#current-time,
#clip-duration {
	font-size: 40px;
	font-weight: bold;
	padding: 20px;
	border: 3px solid black;
	display: inline-block;
	font-family: 'Courier New', Courier, monospace;
	margin: 5px;
}

#clip-duration {
	width: 310px;
	text-align: center;
	font-size: 30px;
	padding: 15px;
	border: 2px solid black;

}

#clip-duration.error {
	color: red;
	font-size: 28px;
}

#clip-duration.valid {
	color: green;
}

#edition-actions {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

#edition-data {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	align-content: flex-start;
	gap: 10px;
}

#fieldset-controls {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.btn-control {
	height: 100px;
	width: 100px;
	font-size: 28px;
}

span.shortcut {
	display: block;
}

.btn-control .shortcut {
	font-size: 12px;
	font-family: 'Courier New', Courier, monospace;
	font-style: italic;
	text-align: left;
}

#btn-submit-clip {
	min-width: 300px;
	width: auto;
	padding: 20px;
	font-size: 45px;
	justify-content: center;
}

#btn_save_clip_draft, #btn_clip_start, #btn_clip_end{
	width: 300px;
}

.site-title {
	font-size: 50px;
	letter-spacing: -2px;
}

.fil-arianne {
	margin: 20px 0;
}

li {
	margin: 2px;
}

summary .clip-item-header {
	color: blue;
	text-decoration: underline blue;
	cursor: pointer;
}

.two-col-side {
	display: flex;
	gap: 20px;
}

.video-main {
	display: flex;
}

.video {
	width: 80%;
}

button{
	cursor: pointer;
}

.video-side {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
	gap: 10px;
}

#editor-navigation {
	display: flex;
	flex-direction: column;
	justify-content: start;
}

.first-row,
.second-row, .last-row {
	display: flex;
	justify-content: flex-start;
	gap: 3px;
	margin: 10px;
}

.last-row{
	justify-content: flex-end;
}

nav.footer-links {
	margin-top: 50px;
}

nav.footer-links ul {
	display: flex;
	justify-content: center;
	list-style: none;
}

nav.footer-links ul li {
	margin: 20px;
}